/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');

/* common styles */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header and navigation styles */
.header {
    background: rgba(255, 144, 14, 0.1);


}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 15px;
}

/* banner styles */
.banner {

    text-align: center;

}


.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    padding: 0px 380px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 0px 200px;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 5px;
    border: 0 solid;
}

.banner-img {
    border-radius: 8px;
}

/* main section style */
/* first section styles */
.container {
    display: flex;
    /* margin-left: 200px;
    margin-top: 30px; */
    margin: 100px;

}

.gruops {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gruop-details {
    margin-top: 150px;
    margin-left: 50px;
}

.gruop-description {
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.gruop-title {
    font-weight: 500;
    font-size: 45px;
}

.list {
    color: #727272;
}

.text {
    color: #FF900E;
}

/* second-section-style */
.features {
    display: flex;
    gap: 10px;

}

.feature-info {
    margin-left: 120px;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}


.btn2 {
    margin-top: -50px;
    margin-left: -50px;
    
    Width:258px;
    Height:109px;
    font-weight: 500;
    font-size: 30px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0 solid;
}
.title{
    padding-left: 20px;
}